@import "tailwindcss";

/* Local font */
@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  line-height: 1.5;
  font-family: 'Gilroy';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

/* Smooth scrolling for in-page anchor navigation */
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

@theme {
  --color-primary: #092240;
  --color-secondary: #6878ad;
}